/* TODO CLASES OBJETOS GENERALES */
*{
    margin: 0;
    padding: 0;
}
body {
/*     font-family: 'Lucida Sans';
    background: #6c757d;
    color: #f8f9fa; */
    background-image: url("/img/fondotest1.jpeg");
    background-size: cover;
    color: #f8f9fa;
}


section {
    display: flex;
    height: 600px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

a {
    text-decoration: none;
    color: #6c757d;
}

input::placeholder {
    color: #ccc;
}

input:focus {
    outline: none;
}


/* TODO CLASES PARA BODYS */

/*Menu nav styles*/
.main-menu
{
    width: 100%;
    min-height: 100vh;
    background: #eceaff;
}

.main-menu nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    position: relative;
}

.logo
{
    width: 170px;
}

.user-pic
{
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
.sub-menu-wrap
{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu
{
    max-height: 400px;
}
.sub-menu
{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info
{
    display: flex;
    align-items: center;
}

.user-info h3
{
    font-weight: 500;
}

.user-info img
{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr
{
    border: 0;
    height: 1px;
    width: 100%;
    background: black;
    margin: 15px 0 10px;
}

.sub-menu-link
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p
{
    width: 100%;
}

.sub-menu-link img
{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span
{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span
{
    transform: translateX(5px);
}

.sub-menu-link:hover p
{
    font-weight: 600;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
header.abajo{
    background: #3F566D;
    padding: 15px 20px;
}
header ul{
    position: relative;
    display: flex;  
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
}
header ul li a{
    position: relative;
    font-family: Helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #1a1a1a;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}
header.abajo ul li a{
    color: #e1e1e1;
}
/*end of Menu nav styles*/
.div-container-images {
    display: flex;
    width: 100%;
}

.image-in-container {
    width: 16% !important;
}

.header-second-text {
    font-size: 70px;
    width: 100% !important;
    display: grid;
    justify-content: center;
    align-items: center;
}

.tex-on-header-1 {
    display: grid;
}

.tex-on-header-2 {
    width: 100% !important;
    display: flex;
}

.dude-img {
    height: 140px;
}

.class-info-conteiner {
    width: 100%;
    height: 600px;
    gap: 2rem;
    padding: 30px 30px 30px 30px;
}

.btn-outline-success {
    color: #3F566D !important;
    border-color: #3F566D !important;
}

.btn-outline-success:hover {
    background: #3F566D !important;
    color: white !important;
}

.price,
.price-max {
    transition: opacity 0.3s ease;
    opacity: 1;
}


.price-item,
.price-item-max {
    color: #f8f9fa;
    cursor: default !important;
    height: 400px;
    width: 23%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    background-color: #343a40;
    text-align: center;
    position: relative;
    cursor: pointer;
}


/* .price-item:hover , .price-item-max:hover {
    cursor: default !important;
    background-color: #e1e1e1;
}

.price-item:hover .price, .price-item-max:hover .price-max {
    filter: blur(0px);
} */


.hidden {
    display: none;
}

.class-for-cards {
    justify-content: center !important;
    gap: 28px !important;
    display: flex !important;
    width: 100% !important;
    padding: 0px 20px 0px 20px !important;
}

.inputs-all {
    color: #6c757d;
    border: 1px solid #343a40;
    width: 175px;
    height: 35px;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;
}

.btns-requireds {
    color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    width: auto;
    padding: 0px 10px 0px 10px;
    height: 35px;
    border: 1px solid #343a40;
}

.btns-requireds:hover {
    background-color: #e1e1e1;
    filter: blur(0px);
}

.elements-date,
.elements-date-max {
    text-align: left;
    display: grid;
    gap: 1px;
    font-size: 12px;
}

.item-name {
    font-size: 15px;
    font-weight: 500;
}

/* Estilo para la ventana emergente de la imagen */
.image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.image-popup img {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.image-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
/*footer*/
footer{
    background: #3F566D;
    height: auto;
    width: 100vw;
    font-family: Helvetica;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #3F566D;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
/*Boton wpp*/
.btn-whatsapp {
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
}

.btn-whatsapp:before,
.btn-whatsapp:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    opacity: 0;
    background-color: #00e676;
    animation: ondas 1.7s infinite;

}
.btn-whatsapp:before{
    animation-delay: 1s;
}
.btn-whatsapp:after{
    animation-delay: 1.3s;
}
.btn-whatsapp img {
    position: relative;
    z-index: 2;
}
@keyframes ondas {
    0%{
        transform: scale(1);
    }
    15%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(2.5);
    }
}

